PORT=4000
CLIENT_ORIGIN=http://127.0.0.1:5173
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=turismo_db
ADMIN_USERNAME=dchivela
ADMIN_PASSWORD=#focus2024
SESSION_SECRET=troque-esta-chave-em-producao
